@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	/* --font-sans: here if you have one */
	/* --font-mono: here if you got it... */

	--palette-dark-navy: 210 33.3% 14.1%;
	--palette-navy: 210 25% 25.1%;
	--palette-storm-grey: 211 16.4% 39.4%;
	--palette-cloud: 210 15.6% 52.2%;
	--palette-smoke: 213 15.1% 85.7%;
	--palette-green-900: 147 48.5% 19.8%;
	--palette-green-700: 147 30.4% 31.6%;
	--palette-green-500: 147 49% 38.4%;
	--palette-green-300: 148 34.1% 64.9%;
	--palette-green-100: 150 33.3% 92.9%;
	--palette-chocolate: 8 100% 13.9%;
	--palette-chestnut: 19 92.6% 32%;
	--palette-hot-fire-red: 19 83.3% 53.1%;
	--palette-fire-red: 19 100% 61%;
	--palette-orange: 30 100% 63.9%;
	--palette-sunny: 44 94.3% 58.8%;
	--palette-rose-pink: 332 61.3% 69.6%;
	--palette-dust-pink: 14 62% 80.4%;
	--palette-beige: 35 43.6% 92.4%;
	--palette-cream: 38 52.4% 95.9%;
	--palette-lilac: 231 35.5% 81.8%;
	--palette-baby-blue: 183 38% 80.4%;
	--palette-blues: 212 65.4% 54.7%;

	/* prefixed with foreground because it should look good on the background */
	--foreground-destructive: var(--palette-fire-red);

	--background: var(--palette-cream);
	--foreground: var(--palette-dark-navy);

	--muted: var(--palette-beige);
	--muted-foreground: var(--palette-storm-grey);

	--muted-secondary: var(--palette-smoke);
	--muted-secondary-foreground: var(--palette-cloud);

	--popover: var(--palette-beige);
	--popover-foreground: var(--palette-dark-navy);

	--card: var(--palette-cream);
	--card-foreground: var(--palette-dark-navy);

	--border: var(--palette-smoke);
	--input: var(--palette-smoke);
	--input-invalid: var(--palette-fire-red);

	--primary: var(--palette-navy);
	--primary-foreground: var(--palette-cream);

	--secondary: var(--palette-beige);
	--secondary-foreground: var(--palette-navy);

	--accent: var(--palette-green-100);
	--accent-foreground: var(--palette-dark-navy);

	--destructive: var(--palette-hot-fire-red);
	--destructive-foreground: var(--palette-cream);

	--ring: var(--palette-green-300);

	--radius: 0.5rem;
}

.dark {
	--background: var(--palette-dark-navy);
	--foreground: var(--palette-cream);

	/* prefixed with foreground because it should look good on the background */
	--foreground-destructive: var(--palette-fire-red);

	--muted: var(--palette-navy);
	--muted-foreground: var(--palette-smoke);

	--muted-secondary: var(--palette-storm-grey);
	--muted-secondary-foreground: var(--palette-smoke);

	--popover: var(--palette-navy);
	--popover-foreground: var(--palette-cream);

	--card: var(--palette-navy);
	--card-foreground: var(--palette-cream);

	--border: var(--palette-storm-grey);
	--input: var(--palette-storm-grey);
	--input-invalid: var(--palette-fire-red);

	--primary: var(--palette-sunny);
	--primary-foreground: var(--palette-dark-navy);

	--secondary: var(--palette-navy);
	--secondary-foreground: var(--palette-cream);

	--accent: var(--palette-green-500);
	--accent-foreground: var(--palette-cream);

	--destructive: var(--palette-fire-red);
	--destructive-foreground: var(--palette-cream);

	--ring: var(--palette-green-300);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: hsl(var(--background));
	--color-foreground: hsl(var(--foreground));
	--color-foreground-destructive: hsl(var(--foreground-destructive));
	--color-muted: hsl(var(--muted));
	--color-muted-foreground: hsl(var(--muted-foreground));
	--color-muted-secondary: hsl(var(--muted-secondary));
	--color-muted-secondary-foreground: hsl(var(--muted-secondary-foreground));
	--color-popover: hsl(var(--popover));
	--color-popover-foreground: hsl(var(--popover-foreground));
	--color-card: hsl(var(--card));
	--color-card-foreground: hsl(var(--card-foreground));
	--color-border: hsl(var(--border));
	--color-input: hsl(var(--input));
	--color-input-invalid: hsl(var(--input-invalid));
	--color-primary: hsl(var(--primary));
	--color-primary-foreground: hsl(var(--primary-foreground));
	--color-secondary: hsl(var(--secondary));
	--color-secondary-foreground: hsl(var(--secondary-foreground));
	--color-accent: hsl(var(--accent));
	--color-accent-foreground: hsl(var(--accent-foreground));
	--color-destructive: hsl(var(--destructive));
	--color-destructive-foreground: hsl(var(--destructive-foreground));
	--color-ring: hsl(var(--ring));
	--color-ring-invalid: hsl(var(--foreground-destructive));
}

@theme {
	--text-mega: 5rem;
	--text-mega--line-height: 5.25rem;
	--text-mega--font-weight: 700;
	--text-h1: 3.5rem;
	--text-h1--line-height: 3.875rem;
	--text-h1--font-weight: 700;
	--text-h2: 2.5rem;
	--text-h2--line-height: 3rem;
	--text-h2--font-weight: 700;
	--text-h3: 2rem;
	--text-h3--line-height: 2.25rem;
	--text-h3--font-weight: 700;
	--text-h4: 1.75rem;
	--text-h4--line-height: 2.25rem;
	--text-h4--font-weight: 700;
	--text-h5: 1.5rem;
	--text-h5--line-height: 2rem;
	--text-h5--font-weight: 700;
	--text-h6: 1rem;
	--text-h6--line-height: 1.25rem;
	--text-h6--font-weight: 700;
	--text-body-2xl: 2rem;
	--text-body-2xl--line-height: 2.25rem;
	--text-body-xl: 1.75rem;
	--text-body-xl--line-height: 2.25rem;
	--text-body-lg: 1.5rem;
	--text-body-lg--line-height: 2rem;
	--text-body-md: 1.25rem;
	--text-body-md--line-height: 1.75rem;
	--text-body-sm: 1rem;
	--text-body-sm--line-height: 1.25rem;
	--text-body-xs: 0.875rem;
	--text-body-xs--line-height: 1.125rem;
	--text-body-2xs: 0.75rem;
	--text-body-2xs--line-height: 1rem;
	--text-caption: 1.125rem;
	--text-caption--line-height: 1.5rem;
	--text-caption--font-weight: 600;
	--text-button: 0.75rem;
	--text-button--line-height: 1rem;
	--text-button--font-weight: 700;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}

		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;

	@media (width >= 1536px) {
		& {
			max-width: 1400px;
		}
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: hsl(var(--border));
	}
}
