node_modules

/build
/public/build
.env

/test-results/
/playwright-report/
/playwright/.cache/
/tests/fixtures/texts/*.json
/coverage
/prisma/migrations
/app/utils/prisma-generated.server

package-lock.json
